<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/paciente">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Dados do Paciente</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">CPF:</label>
    <div class="col-sm-4">
      {{ form.cpf }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nome:</label>
    <div class="col-sm-4">
      {{ form.nome }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Data de Nascimento:</label>
    <div class="col-sm-4">
      {{ form.datanascimento }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Sexo:</label>
    <div class="col-sm-4">
      {{ form.sexo }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>