<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SICovid - Testes Rápido de Sintomas</title>
<style>
* {
	box-sizing: border-box
}

/* Add padding to containers */
.container {
	padding: 2px;
}

/* Full-width input fields */
input[type=text], input[type=date], input[type=number], select {
	width: 100%;
	padding: 15px;
	margin: 3px 0 10px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}
</style>
<script>
	function showPosition() {
		if (navigator.geolocation) {
			navigator.geolocation
					.getCurrentPosition(function(position) {
						document.getElementById("latitude").value = position.coords.latitude
								.toFixed(8);
						document.getElementById("longitude").value = position.coords.longitude
								.toFixed(8);
					});
		} else {
			alert("Navegador não tem suporte ou permite geolocalização!");
		}
	}
</script>
</head>
<body>
	<!--<c:if test="${not empty sessionScope.erro}"><h3 style="color: red">${sessionScope.erro}</h3><c:remove var="erro" scope="session" /></c:if>-->
	<form action="/testar" method="post">{% csrf_token %}
		<div class="container">
			<h1>Teste Rápido</h1>
			<hr>
			<label for="nome"><b>CPF: </b></label> <input type="number"
				name="cpf" required="required" value="{{cpf}}" readonly="readonly"
				placeholder="CPF sem pontuações">
			<br /> <label for="nome"><b>Nome: </b></label> <input type="text"
				name="nome" required="required" autofocus="autofocus" maxlength="40"
				size="40" placeholder="Nome" value="{% if paciente %}{{paciente.nome}}{% endif %}">
			<br /> <label for="nome"><b>Data de Nascimento: </b></label> <input
				type="date" name="datanascimento" required="required"
				placeholder="dd/mm/aaaa" value="{% if paciente %}{{paciente.datanascimento|date:'Y-m-d'}}{% endif %}">
			<label for="sexo"><b>Sexo: </b></label> Masculino <input type="radio"
				name="sexo" value="M" required="required" {% if paciente and paciente.sexo == 'M' %}{{ 'checked' }}{% endif %}> Feminino <input
				type="radio" name="sexo" value="F" required="required" {% if paciente and paciente.sexo == 'F' %}{{ 'checked' }}{% endif %}>
			<br />
			<br /> <label for="latitude"><b>Latitude: </b></label> <input
				type="number" id="latitude" name="latitude" step="0.00000001"
				placeholder="Latitude" value="{% if paciente %}{{paciente.latitude|stringformat:'.8f'}}{% endif %}">
			<label for="longitude"><b>Longitude: </b></label> <input
				type="number" id="longitude" name="longitude" required="required"
				step="0.00000001" placeholder="Longitude" value="{% if paciente %}{{paciente.longitude|stringformat:'.8f'}}{% endif %}">

			<button name="capturar"
				onclick="javascript: showPosition(); return false;">Capturar</button>
			<br /> <br /> <label for="sintomas"><b>Selecione os
					sintomas: </b></label> <select name="sintomas" multiple="multiple" 
				required="required">
				{% for sintoma in sintomas %}
					<option value="{{sintoma.percentual|stringformat:'.2f'}}">
						{{sintoma.nome}}</option>
				{% endfor %}
			</select>

			<button type="Submit">Testar</button>
		</div>
	</form>
</body>
</html>